.App {
  text-align: center;
}

.btn {
  border: none;
  text-decoration: none;
  padding: 5px 20px;
}

.btn-white {
  border: #000000 1px solid;
  color: black;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container {
  width: 80%;
  margin: auto;
}

.gridItems {
  position: relative;
  margin: 20px;
  background-color: #efefef;
  padding: 20px;
}

.ingredients {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
